/* 
Colors:
https://coolors.co/0a122a-698f3f-e7decd-804e49-69a73f
*/

body {
    background-color: #2b2f51;
    font-size: 18px;
}

p {
    font-family: 'Gentium Book Basic', serif;
    font-size: 100%
}

a {
    font-family: 'PT Mono', monospace;
    text-decoration: none;
    color: #E7DECD;
}

a:hover {
    /*color: #ffec18;
    text-decoration: none;
    cursor: pointer;*/
    opacity: 0.5;
}

a:active {
    opacity: 1;
    color: #fff8a8;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 117%;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

.title-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b2f51;
    color: #FBFAF8;
    border: 4px solid #FBFAF8;
}

.site-title {
    color: #FBFAF8;
    padding-left: 20px;
}

.main-nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    /*padding-right: 10px;*/
    list-style: none;
    align-items: center;
}

.main-nav-bar a.nav-link {
    position: relative;
    text-decoration: none;
    padding: 3px;
    margin: 20px;
    color: white;
    background: #a6908d;
    border: 2px solid #c2e1f5;
    display: block;
}

.main-nav-bar a.nav-link:before, .main-nav-bar a.nav-link:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.main-nav-bar a.nav-link:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 8px;
    margin-top: -8px;
}

.main-nav-bar a.nav-link:after {
    border-color: rgba(192, 185, 187, 0);
    border-left-color: #a6908d;
    border-width: 5px;
    margin-top: -5px;
}


.main-nav-bar a:hover {
  /*background: darken(#c0b9bb, 4%);*/
  opacity:0.5;
}

.main-nav-bar a:active {
    opacity: .7;
}

p.nav-item {
    flex: 1;
    /*display: block;*/
    /*align-self: center;*/
    /*flex-wrap: false;*/
    /*text-decoration: none;*/
    color: #E7DECD;
    /*padding-left: 5px;*/
    border: 2px solid #E7DECD;
    padding: 5px;
    margin: 3px;
    font-size: 100%;
}


.body-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*align-content: center;*/
    background: black;
    min-width: 90%;
}

.cur-view-workspace {
    /**/
    /*how to prevent workspace window from moving outside of parent border?*/
    /**/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    /*align-content: center;*/
    /*flex-wrap: wrap;*/
    flex: 1;
    background-color: #2b2f51;
    /*padding: 20px;*/
    margin: 20px;
    /*max-width: 600px;*/
    min-width: 90%;
    height: 90%;
}

.view-title-bar {
    flex-direction: column;
    /*align-content: center;*/
    /*align-items: center;*/
    border: none;
}

.view-title {
    align-self: center;
    margin: 8px;
    border-bottom: 1px solid #FBFAF8;
}

.view-description {
    flex: 1;
    flex-wrap: true;
    align-self: center;
    margin: 8px;
}

.view-actions {
    /*display: flex;*/
    justify-content: space-around;
}

.action-buttons-nav {
    display: flex;
    flex-flow: row wrap;
    /*flex: 1 0 auto;*/
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    /*align-self: left;*/
    list-style: none;
    /*justify-content: space-around;*/
}

a.button:link, a.button:visited {
    /*flex: 1 0 auto;*/
    /*position: relative;*/
    display: block;
    background-color: #698F3F;
    color: #E7DECD;
    padding: 3px;
    margin: 3px;
    /*margin-top: 20px;*/
    /*text-align: center;*/
    text-decoration: none;
    border: 2px solid #E7DECD;
    border-radius: 20px;
}

a.button:hover {
    opacity: 0.5;
} 

a.button:active {
    opacity: 0.7;
    background-color: #69a73f;
}

.view-responses {
    /*display: flex;*/
    flex: 1;
    /*flex-direction: column;*/
    background-color: #804E49;
    list-style: none;
    /*overflow-y: scroll;*/
    border: 2px solid #E7DECD;
    margin: 10px;
    padding-left: 8px;
    /*max-height: 500px;*/
    /*width: 90%;*/
    min-width: 70%;
    /*align-content: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
    /*alignment-baseline: center;*/
}

.response-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: true;
    /*align-content: center;*/
    /*align-self: center;*/
    /*margin-left: 24px;*/
    padding: 8px;
    /*margin: 10px;*/
    /*max-width: 800px;*/
    /*align-items: flex-end;*/
    min-width: 50%;
}
#avatar-small {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    /*background-color: #e7e7e7;*/
    border: 2px solid #E7DECD;
}

.item-text {
    flex: 1;
    /*flex-direction: column;*/
}

a.item-title {

    padding-left: 5px;
    margin: 3px;
    font-size: 117%;
}



.item-short-descr {
    padding-left: 15px;
    margin: 3px;
}

.item-action {
    flex: 0 1 120px;
    width: 80px;
    height: 50px;
    background-color: #2b2f51;
    /*background: #a6908d;*/
    align-self: center;
    border: 2px solid #E7DECD;
    /*flex-wrap: true;*/
}

.bottom-buttons {
    justify-content: flex-end;
    /*padding: 1px;*/
    margin: 5px;
    /*align-self: right;*/
}

a.bottom-button {
    align-self: flex-end;
    /*padding: 3px;*/
    /*margin: 3px;*/
}

.center-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}

.center-modal-content {
    position: relative;
    padding: 0;
    background-color: #2b2f51;
    margin: 15% auto;
    border: 1px solid #E7DECD;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    overflow: hidden;
    background-color: #4e2d84;
    border: none;
    padding: 4px 4px 8px;
}

.modal-close {
    float: right;
    font-size: 24px;
    font-weight: bold;
}

#modal-x-close {
    padding: 3px;
    border: 2px solid #E7DECD;
}

.modal-title {
    color: #E7DECD;
    background-color: #4e2d84;
    text-align: center;
    border-bottom: 1px solid #FBFAF8;
}

.modal-body {
    overflow: hidden;
    background-color: #2b2f51;
    color: #FBFAF8;
    padding: 2px 16px;
}
.modal-body #avatar-small {
    float: left;
    margin: 10px;
}

#modal-full-descr {
    padding: 10px;
}

.modal-footer {
    overflow: hidden;
    background-color: #4e2d84;
    padding: 2px 16px;
}

